@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <div class="col-sm-12"><img class="col-lg-12" src="https://res.cloudinary.com/drcnakesm/image/upload/v1596567405/Ivory_and_Ash_Grey_Photo_DIY_Influencer_Minimalist_Facebook_Cover_zzshtx.png" alt="picture of a young man holding a fossil" /></div>
    <div class="col-sm-12"><img class="col-lg-12" src="https://res.cloudinary.com/drcnakesm/image/upload/v1600117448/CREATE_FOSSIL_HUNT_ACCOUNT_bmfrou.png" /></div>
    <div class="col-lg-12"><img class="col-lg-12" src="https://res.cloudinary.com/drcnakesm/image/upload/v1600117453/Connect_with_other_fossil_hunters_using_The_Fossil_Hunt_forum_adwaiz.png" /></div>
    <div class="col-lg-12"><img class="col-lg-12" src="https://res.cloudinary.com/drcnakesm/image/upload/v1600117457/UPLOAD_FOSSIL_FINS_TO_FOSSIL_COLLECTION_ACCOUNT_1_xqdnmb.png" /></div>
    
    
    
   
</div>
